@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<div id="credit">
    <a href="/MockCredit/CreateFastCreditCardTradeToCreditGW">測試快速刷卡頁</a>
</div>
<br />
<div id="credit">
    <a href="/MockCredit/CreateCreditCardTradeToCreditGW">測試信用卡(綠界規格)</a>
</div>
<br />
<div id="credit">
    <a href="/MockCredit/CreateCreditCardTradeToPaymentCenter">測試信用卡(post版)</a>
</div>
<br />
<div id="credit">
    <a href="/MockCredit/TestPaymentCenterWebServiceTrade">測試信用卡(WebService版)</a>
</div>
<br />
<div id="credit">
    <a href="/MockCredit/CreateMPOSTradeToPaymentCenter">測試信用卡(MPOS版)</a>
</div>
<br />
<div id="aio">
    <a href="/MockAIOPayment/TestCheckOut">測試AIO</a>
</div>
<br />
<div id="aio">
    <a href="/MockPayment/CreateWebAtmTradeToPaymentCenter">測試WebATM</a>
</div>
<br />
<div id="cvs">
    <a href="/MockPayment/TestCvsToPaymentCenter">測試CVS</a>
</div>
<br />
<div id="aio">
    <a href="/AllPayPayment/TestPayCreateOrder">測試pay規格訂單</a>
</div>