@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>信用卡重新發送OTP(WebService版)</title>
</head>
<body>
    <div>
    收到回覆的XML:<br />
    @ViewBag.returnEncryptXml    
    </div>
    <div>
   
    </div>
</body>
</html>
