@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ReceiveOrderResult</title>
</head>
<body>
    <div>
        @ViewBag.ReturnData    
        <hr />  
        @ViewBag.XmlData    
    </div>
</body>
</html>
