@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>TestAtmHncbReturn</title>
</head>
<body>
    <div>
    ATM回傳:@ViewBag.Response
    <br />
    測試結果:<span style="color:Red">@ViewBag.Result</span>    
    </div>    
    </div>
</body>
</html>
