@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>TestCVSReturnToPayment</title>
</head>
<body>
    <div>
    CVS回傳:@ViewBag.Reponse
    <br />
    測試結果:<span style="color:Red">@ViewBag.Result</span>    
    </div>
</body>
</html>
