@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>TestCVSReturnToPayment</title>
</head>
<body>
    <div>
    WebATM Server回傳:@ViewBag.ServerResponse
    <br />
    Server測試結果:<span style="color:Red">@ViewBag.ServerResult</span>    
    </div>
    <div>   
    <br />
    Client回傳:<span style="color:Red">@ViewBag.ClientResponse</span>    
    </div>
</body>
</html>