@model AllPayWebServiceTest.Models.VirtualModel

@{
    ViewBag.Title = "ChargeBack";
}

<h2>ChargeBackConfirm</h2>

XMLData: @ViewBag.XMLData
EnXMLData: @ViewBag.EnXMLData

EnData: @ViewBag.EnData
DeData: @ViewBag.DeData
