@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>FrameButtom</title>
</head>
<body>
    <div>
    <iframe src="@Url.Action("CreateCreditCardTradeToCreditGW", "MockPayment")" width="100%" height="100%"></iframe>        
    </div>
</body>
</html>
